<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>IITB LCS Project Data Collection Portal</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500|Poppins:400,500,600,700|Roboto:400,500"
    rel="stylesheet" />
  <link href="https://cdn.materialdesignicons.com/4.4.95/css/materialdesignicons.min.css" rel="stylesheet" />
  <link href="assets/plugins/simplebar/simplebar.css" rel="stylesheet" />
  <link href="assets/css/gauge.css" rel="stylesheet" />
  <link href="assets/plugins/nprogress/nprogress.css" rel="stylesheet" />
  <link href='assets/plugins/jvectormap/jquery-jvectormap-2.0.3.css' rel='stylesheet'>
  <link href='assets/plugins/daterangepicker/daterangepicker.css' rel='stylesheet'>
  <link href='assets/plugins/toastr/toastr.min.css' rel='stylesheet'>
  <link id="sleek-css" rel="stylesheet" href="assets/css/sleek.css" />
  <link href="assets/img/favicon.png" rel="shortcut icon" />
  <script src="assets/plugins/nprogress/nprogress.js"></script>
  <script src="assets/plugins/jquery/jquery.min.js"></script>
  <script src="assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src='assets/plugins/charts/Chart.min.js'></script>
  <script src='assets/js/chart.js'></script>
  <script src='assets/plugins/jvectormap/jquery-jvectormap-2.0.3.min.js'></script>
  <script src='assets/plugins/jvectormap/jquery-jvectormap-world-mill.js'></script>
  <script src='assets/js/vector-map.js'></script>
  <script src='assets/plugins/daterangepicker/moment.min.js'></script>
  <script src='assets/plugins/daterangepicker/daterangepicker.js'></script>
  <script src='assets/js/date-range.js'></script>
  <script src="assets/js/sleek.js"></script>
  <script src="assets/js/gauge.js" type="module"></script>
  <link href="assets/css/optionswitch.css" rel="stylesheet">
  <script src="assets/js/optionswitcher.js"></script>
  <script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
  <link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet" />
  <script src='https://cdn.plot.ly/plotly-2.27.0.min.js'></script>
</head>

<body class="sidebar-fixed sidebar-dark">
  <div class="wrapper">
    <aside class="left-sidebar bg-sidebar">
      <div data-include="sidebar"></div>
    </aside>
    <div class="page-wrapper">
      <div class="content-wrapper">
        <div class="content">

          <div name="Gauge OPC N3">
            <h2 class="text-center pb-10">AlphaSense OPC N3 Live</h2>
            <div class="row">
              <div class="card card-default col gauge_container">
                <div data-include="pm_gauge" id="n3_pm1"></div>
                <label class="gauge-label" id="meter-label">OPC N3 PM1.0</label>
              </div>
              <div class="card card-default col gauge_container">
                <div data-include="pm_gauge" id="n3_pm25"></div>
                <label class="gauge-label" id="meter-label">OPC N3 PM2.5</label>
              </div>
              <div class="card card-default col gauge_container">
                <div data-include="pm_gauge" id="n3_pm10"></div>
                <label class="gauge-label" id="meter-label">OPC N3 PM10</label>
              </div>
            </div>
            <p class='text-center pb-4' id='last_update_n3'> LAST UPDATED ON: </p>
          </div>
         
         
          <div name="Gauge Atmos">
            <h2 class="text-center pb-10">Urban Sciences Atmos Live</h2>
            <div class="row">
              <div class="card card-default col gauge_container">
                <div data-include="pm_gauge" id="atmos_pm1"></div>
                <label class="gauge-label" id="meter-label">ATMOS PM1.0</label>
              </div>
              <div class="card card-default col gauge_container">
                <div data-include="pm_gauge" id="atmos_pm25" style="justify-content: center"></div>
                <label class="gauge-label" id="meter-label">ATMOS PM2.5</label>
              </div>
              <div class="card card-default col gauge_container">
                <div data-include="pm_gauge" id="atmos_pm10"></div>
                <label class="gauge-label" id="meter-label">ATMOS PM10</label>
              </div>
            </div>
            <p class='text-center pb-4' id='last_update_atmos'> LAST UPDATED ON: </p>
          </div>
         
         
          <div name="Gauge Grimm OPC">
            <h2 class="text-center pb-10">Reference GRIMM OPC Live</h2>
            <div class="row">
              <div class="card card-default col gauge_container">
                <div data-include="pm_gauge" id="grimm_pm1"></div>
                <label class="gauge-label" id="meter-label">GRIMM PM1.0</label>
              </div>
              <div class="card card-default col gauge_container">
                <div data-include="pm_gauge" id="grimm_pm25" style="justify-content: center"></div>
                <label class="gauge-label" id="meter-label">GRIMM PM2.5</label>
              </div>
              <div class="card card-default col gauge_container">
                <div data-include="pm_gauge" id="grimm_pm10"></div>
                <label class="gauge-label" id="meter-label">GRIMM PM10</label>
              </div>
            </div>
            <p class='text-center pb-4' id='last_update_grimm'> LAST UPDATED ON: </p>
          </div>
        </div>
        <div class="content justify-content-center" style="display: flex; justify-content: center;">
            <div id="chartcontainer" class="justify-content-center"></div>
        </div>
      </div>
      <script>
        $(".chosen-select").chosen({ width: "40%" });
        $(".chosen-select").chosen({
          no_results_text: "Oops, nothing found!"
        })
      </script>
      <script type="module">
        import { updateDial } from './assets/js/gauge.js';
        import { create_regression_plot } from "/assets/js/charting.js"

        var options = { year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric' };

        async function getLiveN3() {
          const response = await fetch('/getlive/N3')
          await response.json().then(data => {
            //$('#N3_live').text(data['pm2.5']);
            $('#last_update_n3').text('Last Updates On: ' + new Date(data['timestamp'].replace('T', ' ')).toLocaleDateString('en-US', options));
            updateDial(data['pm1'], 'n3_pm1');
            updateDial(data['pm2.5'], 'n3_pm25');
            updateDial(data['pm10'], 'n3_pm10');
          });
        }

        async function getLiveAtmos() {
          const response = await fetch('/getlive/Atmos')
          await response.json().then(data => {
            //$('#Atmos_live').text(data['pm2.5']);
            $('#last_update_atmos').text('Last Updated On: ' + new Date(data['timestamp'].replace('T', ' ')).toLocaleDateString('en-US', options));
            updateDial(data['pm1'], 'atmos_pm1');
            updateDial(data['pm2.5'], 'atmos_pm25');
            updateDial(data['pm10'], 'atmos_pm10');
          });
        }

        async function getLiveGrimm() {
          const response = await fetch('/getlive/Grimm')
          await response.json().then(data => {
            //$('#Grimm_live').text(data['pm2.5']);
            $('#last_update_grimm').text('Last Updated On: ' + new Date(data['timestamp'].replace('T', ' ')).toLocaleDateString('en-US', options));
            updateDial(data['pm1'], 'grimm_pm1');
            updateDial(data['pm2.5'], 'grimm_pm25');
            updateDial(data['pm10'], 'grimm_pm10');
            create_regression_plot()
          });
        }

        setTimeout(getLiveAtmos, 5000);
        setTimeout(getLiveGrimm, 5000);

        setInterval(getLiveN3, 5000);
        setInterval(getLiveAtmos, 10000);
        setInterval(getLiveGrimm, 10000);

        
        create_regression_plot()
      </script>
</body>

</html>