<html>

<body>
  <section>
    <!--for demo wrap-->
    <a href="/"><button value="ALL FILES" style="position: realtive; transform:translate(80%,80%)"> NEW FILE
      </button></a>
    <h1>ALL FILES</h1>
    <div class="tbl-header">
      <table cellpadding="0" cellspacing="0" border="0" id="files">
        <thead>
          <tr>
            <th>Filename</th>
            <!-- <th>Download</th> -->
          </tr>
        </thead>
      </table>
    </div>
    <div class="tbl-content">
      <table cellpadding="0" cellspacing="0" border="0">
        <tbody>
        </tbody>
      </table>
    </div>

  </section>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
  integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
  $("#files").ready(function () {
    var element = $(this);
    var selectedValue = $(this).val();
    $.ajax({
      type: "GET",
      url: "/listfiles",
      data: { option: selectedValue },
      datatype: "json",
      async: false,
      success: function (response) {
        console.log(response);
        //response = response.json()
        //response = JSON.parse(response);
        if (response === undefined) {
          alert("undefined");
        } else {
          orderAddRow(response);
        }
      },
      error: function () {
        alert("ERROR");
      }
    });
    return false;
  });

  function orderAddRow($data) {
    $.each($data, function (index, value) {
      console.log(value)
      var row = '<tr><td><a href=' + value + '>' + index + '</a></td>' + '<td><a href=/delete/' + value.split("/")[2] + '>DELETE</a></td>' + '</tr>';
      $('#files').append(row);
    });
  }
</script>

</html>