<!-- <div style="margin-bottom: 2rem;">
    <label for="set-aqi">Set AQI:</label><input type="range" id="set-aqi" min="0" max="500" value="10">
</div> -->
<div class="gauge">
    <div role="meter" aria-valuemin="0" aria-valuemax="500" aria-labelledby="meter-label">
        <div class="dial"><span class="aqi-num"></span><span>AQI</span>
            <div class="arrow"></div>
        </div>
    </div>
    <label class="label" id="meter-label">10 Minute Average US EPA PM2.5 AQI</label>
</div>

<style>

</style>

<script>

</script>