<div id="sidebar" class="sidebar sidebar-with-footer">
    <!-- Aplication Brand -->
    <div class="app-brand">
        <a href="/" title="IITB Data Collection Portal">
            <img src="assets/img/favicon.png" alt="IITB Data Collection Portal" class="brand-icon" style="height:80%">

            <span class="brand-name text-truncate">SP02 DCP</span>
        </a>
    </div>

    <!-- begin sidebar scrollbar -->
    <div class="" data-simplebar style="height: 100%;">
        <!-- sidebar menu -->
        <ul class="nav sidebar-inner" id="sidebar-menu">
            <li>
                <a class="sidenav-item-link" href="/">
                    <i class="mdi mdi-view-dashboard-outline"></i>
                    <span class="nav-text">Dashboard</span>
                </a>
            </li>
            <li>
                <a class="sidenav-item-link" href="/viewdata">
                    <i class="mdi mdi-table"></i>
                    <span class="nav-text">Data Table</span>
                </a>
            </li>
            <li>
                <a class="sidenav-item-link" href="/fileupload">
                    <i class="mdi mdi-file-upload-outline"></i>
                    <span class="nav-text">Upload New File</span>
                </a>
            </li>
            <li>
                <a class="sidenav-item-link" href="/viewfiles">
                    <i class="mdi mdi-file-find-outline"></i>
                    <span class="nav-text">View All Files</span>
                </a>
            </li>
        </ul>
    </div>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simplebar@6.2.5/dist/simplebar.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simplebar@6.2.5/dist/simplebar.min.css">
</div>